*{
    margin:0;
    padding: 0;
    font-family: "Malgun Gothic";
    box-sizing: border-box;
    color: #6b49ac;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 5px;
}

.to-do-app{
    max-width: 800px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.to-do-app h1{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

img{
     width: 50px;
     height: 50px;
 }

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f0f0;
    padding-left:20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

input{
    flex:1;
    width: 200px;
    border: none;
    outline: none;
    background-color: inherit;
    font-weight: 22;
    font-size: 18px;
    padding-left: 20px;
}

button{
    border: none;
    outline:none;
    background-color: #6b49ac;
    color: white;
    font-size: 22px;
    cursor: pointer;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;

}

ul li{
    list-style: none;
    font-size: 25px;
    padding: 8px 8px 8px 50px;
    user-select: none;
    color: #5b379a;
    font-weight: 540;
    position: relative;
}

li{
    margin: 8px;
    cursor: pointer;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url("images/unchecked.png");
    background-size: cover;
    background-position: center;
    align-items: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #8870a9;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url("images/check-mark.png");
}

/*ul li:hover{*/
/*    background-color: #efecec;*/
/*    border-radius: 30px;*/
/*}*/

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 35px;
    color: grey;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background-color: #e1dcdc;
}

